.THIS .slds-card {
    background-color: #efefef;
}

/*.THIS .slds-text-heading--medium {*/
/*color: #1ed760;*/
/*font-family: "Lato", sans-serif ;*/
/*}*/
.THIS .slds-text__title {
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.THIS .slds-form-element__static {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #2e57d7;
    font-weight: bold;
}

.THIS hr {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    border-top: 1px solid rgb(221, 219, 218);
}

.THIS .outputStyle {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #2e57d7;
    font-weight: bold;
}

.THIS .label {
    font-weight: bold;
    display: block;
}

.THIS .recordView {
    margin-bottom: 3px;
}

.THIS .border-background {
    background: rgb(221, 219, 218);
    border-radius: .5rem;
}

.THIS .slds-progress-bar__value {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}