/**
 * Created by Ivan Basenko on 23.10.2018.
 */

@media screen {
    .THIS .slds-scrollable {
        height: calc(100vh - 300px);
    }
}

@media only screen and (max-device-width: 1100px) {
    .THIS .slds-scrollable {
        height: 35vh;
    }
}
.THIS.slds-card {
    background-color: #e7e7e7;
}

.THIS .sprint-card:first-child {
    padding-top: 0;
}