/**
 * Created by Basenko on 17.11.2018.
 */
.THIS ::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.THIS ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.THIS ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
.THIS ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.THIS .slds-modal__container {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-direction: alternate;
}

@keyframes fade-drop {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}

.THIS .hide-modal {
    animation-name: fade-drop;
    animation-duration: 0.3s;
    animation-direction: reverse;
}
.THIS .shadow {
    -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.THIS .slds-backdrop_open {
    background: rgba(0, 0, 0, 0.32);
}
@keyframes fade {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}
